<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<html>

	<head>
		<title>Add Expense </title>
	</head>
	<body>
		<h1>Add Expense </h1>
		<form method="POST" action="{{ url_for('addexpense') }}">
			{{ form.hidden_tag() }}
			{{ form.name.label }} {{ form.name() }}<br>
			{{ form.price.label }} {{ form.price() }}<br>
			{{ form.category.label }} {{ form.category() }}<br>
			{{ form.expense_type.label }} {{ form.expense_type() }}<br>
			{{ form.bill_type.label }} {{ form.bill_type() }}<br>
			{{ form.submit() }}
		</form>
		

		<p>
		<a href="home">Home </a>
		</p>
	</body>
</html>