<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<html>

	<head>
		<title>Add Expense </title>
	</head>
	<body>
		<h1>Add Expense </h1>
		<form>
			<label>Add Expense </label><br>
			<label>Name</label><input name="Name"><br>
			<label>Price</label><input name="Price"><br>
			<label>Category </label><input name="Category"><br>
			<label>Expense Type</label><input name="Expense Type"><br>
			<label>Bill Type</label><input name="Bill Type"><br>
			<button>Add </button>
		</form>
		

		<p>
		<a href="home">Home </a>
		</p>
	</body>
</html>