{% extends "Base.html" %}
{% block title %}Add Expense{% endblock %}
{% block heading %}Add Expense{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('addexpense') }}">
			{{ form.hidden_tag() }}
			{{ form.name.label }} {{ form.name() }}<br>
			{{ form.price.label }} {{ form.price() }}<br>
			{{ form.category.label }} {{ form.category() }}<br>
			{{ form.expense_type.label }} {{ form.expense_type() }}<br>
			{{ form.bill_type.label }} {{ form.bill_type() }}<br>
			{{ form.submit() }}
		</form>
{% endblock %}
{% block footer %}
    <p>
        <a href="home">Home </a>
    </p>
{% endblock %}