<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<html>

	<head>
		<title>Home </title>
	</head>
	<body>
		<h1>Home </h1>
		<h2>Dashboard </h2>


		<div class="card-container">

			<div class="card">
				<h3>Total Spent</h3>
				<p>${{ total_spent }}</p>
			</div>

			<div class="card">
				<h3>Total Budget</h3>
				<p>$0</p>
				
		</div>
		</table>
		


			<table border="1">
		<tr>
			<th colspan="3">Categorical Spending</th>
		</tr>

		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th>Expense Type</th>
			<th>Bill Type</th>
		</tr>

		{% for expense in expenses %}
		<tr>
			<td>{{ expense["date"] }}</td>
			<td>{{ expense["name"] }}</td>
			<td>{{ expense["price"] }}</td>
			<td>{{ expense["category"] }}</td>
			<td>{{ expense["expense_type"] }}</td>
			<td>{{ expense["bill_type"] }}</td>
		</tr>
		{% endfor %}

	</table>

		<p>
		<a href="addexpense">Add Expense </a>
		</p>
		<p>
		<a href="deleteexpense">Delete Expense </a>
		</p>
		<p>
		<a href="nextbill">Next Bill </a>
		</p>
	</body>
</html>